@charset "UTF-8";

*
{margin: 0px;
padding: 0px;}

body
{background-color: purple;
background-attachment: fixed;
height: 100vh;}

main
{position: relative;
background-color: white;
overflow: hidden;
min-width: 200px;
max-width: 992px;
height: 625px;
margin: 25vh 30px;
border-radius: 16px;}

main>img
{display: block;
height: 300px;
width: 100%;
min-width: 200px;
background-position: top center;
object-fit: cover;}

main>div
{background-color: lightgray;
text-align: center;
height: 100%;}

main>div>h1, p
{padding: 10px 15px;}

main>div>h1
{padding-top: 20px;}

main>div>p
{max-width: 555px;
display: inline-block;}

label
{
    background-color: purple;
    padding: 10px;
    border-radius: 10px;
    
}

input
{margin: 10px 0px;
height: 30px;
border-radius: 10px;
border: 0px;}

#user
{width: 20px;
margin-right: 10px;}

#chave
{width: 20px;
margin-right: 10px;}

#entrar
{background-color: blue;
color: aliceblue;
padding: 5px 20px;
border-radius: 10px;}

#esqueci
{background-color: blue;
color: aliceblue;
padding: 5px 10px;
border-radius: 10px;}

#email-id
{width: 250px;}

#senha-id
{width: 250px;}

