@charset "UTF-8";

/*typical device breakpoints
telas pequenas: até 600px
celular: de 600px até 768
tablet: de 768px até 992px
desktop: de 992px até 1200px
grandes telas: de 1200px pra cima
*/


@media screen and (min-width: 992px) {
    

    
    #burguer 
    {display: none;}

    menu
    {display: block !important;}
    
    menu>ul 
    {text-align: left;}

    menu>ul>li 
    {display: inline-block;
    margin: 0px 10px 0px 10px;
    border-top: 0px;}

    menu>ul>li>a
    {border-top: 0px;}
}