@charset "UTF-8";

    body {
        background-color: rgb(27, 38, 73);
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        color: #777777;
    }
    p {
        text-align: justify;
    }
