@charset "UTF-8";

/*mobile first*/

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body
{background-image: url(imagens/back-phone.jpg);
background-size: cover;
margin: 50px;}

main
{background-color: rgba(255, 255, 255, 0.548);
max-width: 100vw;
margin: auto;
border-radius: 7px;}

main
{color: gold;
text-align: center;
text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.336);
}
main h1
{padding-top: 20px;
margin-bottom: 20px;}
#phone
{display: block;
margin: auto;}
#tablet
{display: none;}
#print
{display: none;}
#desktop
{display: none;}
#tv
{display: none;}


/*tablet*/
@media screen and (min-width: 768px) and (max-width: 991px)
{
body 
{background-image: url(imagens/back-tablet.jpg);
background-size: cover;}

#phone
{display: none;
margin: auto;}
#tablet
{display: block;
margin: auto;}
#print
{display: none;}
#desktop
{display: none;}
#tv
{display: none;}
}
/*print*/
@media print {
    
body h1
{background-image: url(imagens/back-print.jpg);
font-family: 'Courier New', Courier, monospace;
text-shadow: none;
color: grey;}

main 
{border: 3.5px solid black;}

#phone
{display: none;}
#tablet
{display: none;}
#print
{display: block;
margin: auto;}
#desktop
{display: none;}
#tv
{display: none;}
}

/*desktop*/
@media screen and (min-width: 992px) and (max-width:1199px)
{
body
{background-image: url(imagens/back-pc.jpg);
background-size: cover;}
 #phone
{display: none;}
#tablet
{display: none;}
#print
{display: none;}
#desktop
{display: block;
margin: auto;}
#tv
{display: none;}    
}



/*tv*/
@media screen and (min-width: 1200px)
{
body
{background-image: url(imagens/back-tv.jpg);
background-size: cover;}
#phone
{display: none;}
#tablet
{display: none;}
#print
{display: none;}
#desktop
{display: none;}
#tv
{display: block;
margin: auto;}

}